In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [5]:
import pandas as pd

train_df = pd.read_csv('../data/mitbih_train.csv', header=None)
test_df = pd.read_csv('../data/mitbih_test.csv', header=None)

In [6]:
train_df

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,0.977941,0.926471,0.681373,0.245098,0.154412,0.191176,0.151961,0.085784,0.058824,0.049020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.960114,0.863248,0.461538,0.196581,0.094017,0.125356,0.099715,0.088319,0.074074,0.082621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.659459,0.186486,0.070270,0.070270,0.059459,0.056757,0.043243,0.054054,0.045946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.925414,0.665746,0.541436,0.276243,0.196133,0.077348,0.071823,0.060773,0.066298,0.058011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.967136,1.000000,0.830986,0.586854,0.356808,0.248826,0.145540,0.089202,0.117371,0.150235,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87549,0.807018,0.494737,0.536842,0.529825,0.491228,0.484211,0.456140,0.396491,0.284211,0.136842,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
87550,0.718333,0.605000,0.486667,0.361667,0.231667,0.120000,0.051667,0.001667,0.000000,0.013333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
87551,0.906122,0.624490,0.595918,0.575510,0.530612,0.481633,0.444898,0.387755,0.322449,0.191837,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
87552,0.858228,0.645570,0.845570,0.248101,0.167089,0.131646,0.121519,0.121519,0.118987,0.103797,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
87553,0.901506,0.845886,0.800695,0.748552,0.687138,0.599073,0.512167,0.427578,0.395133,0.402086,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [7]:
test_df

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.758264,0.111570,0.000000,0.080579,0.078512,0.066116,0.049587,0.047521,0.035124,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.908425,0.783883,0.531136,0.362637,0.366300,0.344322,0.333333,0.307692,0.296703,0.300366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.730088,0.212389,0.000000,0.119469,0.101770,0.101770,0.110619,0.123894,0.115044,0.132743,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.910417,0.681250,0.472917,0.229167,0.068750,0.000000,0.004167,0.014583,0.054167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.570470,0.399329,0.238255,0.147651,0.000000,0.003356,0.040268,0.080537,0.070470,0.090604,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21887,0.928736,0.871264,0.804598,0.742529,0.650575,0.535632,0.394253,0.250575,0.140230,0.102299,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21888,0.802691,0.692078,0.587444,0.446936,0.318386,0.189836,0.118087,0.077728,0.112108,0.152466,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21889,1.000000,0.967359,0.620178,0.347181,0.139466,0.089021,0.103858,0.100890,0.106825,0.100890,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21890,0.984127,0.567460,0.607143,0.583333,0.607143,0.575397,0.575397,0.488095,0.392857,0.238095,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
21891,0.973970,0.913232,0.865510,0.823210,0.746204,0.642082,0.547722,0.426247,0.325380,0.279826,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [8]:
target_column_index = train_df.shape[1] - 1
class_labels = train_df[target_column_index].unique()

class_names = {
    0: "Normal Beats",
    1: "Supraventricular Ectopy Beats",
    2: "Ventricular Ectopy Beats",
    3: "Fusion Beats",
    4: "Unclassifiable Beats"
}

for label in class_labels:
    print(f"Class label {label}: {class_names[label]}")

Class label 0.0: Normal Beats
Class label 1.0: Supraventricular Ectopy Beats
Class label 2.0: Ventricular Ectopy Beats
Class label 3.0: Fusion Beats
Class label 4.0: Unclassifiable Beats

In [9]:
print("Columns and their NaN percentages:")
null_col = train_df.isna().mean() * 100
print(null_col)

Columns and their NaN percentages:
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
183    0.0
184    0.0
185    0.0
186    0.0
187    0.0
Length: 188, dtype: float64

In [10]:
train_df[187]=train_df[187].astype(float)
equilibre = train_df[187].value_counts()
print(equilibre)

187
0.0    72471
4.0     6431
2.0     5788
1.0     2223
3.0      641
Name: count, dtype: int64

In [11]:
test_df[187]=test_df[187].astype(float)
equilibre = test_df[187].value_counts()
print(equilibre)

187
0.0    18118
4.0     1608
2.0     1448
1.0      556
3.0      162
Name: count, dtype: int64

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87554 entries, 0 to 87553
Columns: 188 entries, 0 to 187
dtypes: float64(188)
memory usage: 125.6 MB

In [13]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21892 entries, 0 to 21891
Columns: 188 entries, 0 to 187
dtypes: float64(188)
memory usage: 31.4 MB

In [14]:
train_df.mean()

0      0.890360
1      0.758160
2      0.423972
3      0.219104
4      0.201127
         ...
183    0.003471
184    0.003221
185    0.002945
186    0.002807
187    0.473376
Length: 188, dtype: float64

In [27]:
os.makedirs("../results/plots", exist_ok=True)
plt.figure(figsize=(20,10))
my_circle=plt.Circle( (0,0), 0.7, color='white')
plt.pie(equilibre, labels=['Normal Beats','Supraventricular Ectopy Beats','Ventricular Ectopy Beats','Fusion Beats','Unclassifiable Beats'], colors=['Blue','Green','Yellow','Skyblue','Orange'],autopct='%1.1f%%', textprops={'color': 'black'})
p=plt.gcf()
p.gca().add_artist(my_circle)
plt.savefig("../results/plots/beat_class_distribution_piechart.png")
plt.close()

In [24]:
import seaborn as sns

In [28]:
os.makedirs("../results/plots", exist_ok=True)
plt.figure(figsize=(12, 4))
plt.plot(train_df.iloc[0, :])  # Plot first row
plt.title("Sample ECG Signal")
plt.xlabel("Time")
plt.ylabel("Amplitude")
plt.savefig("../results/plots/sample_ecg_signal_1.png")
plt.close()

In [ ]:
os.makedirs("../results/plots", exist_ok=True)
plt.figure(figsize=(12, 8))  # Set figure size

for i in range(6):  # Loop through the first 6 ECG signals
    plt.subplot(3, 2, i + 1)  # 3 rows, 2 columns layout
    plt.plot(train_df.iloc[i, :], color='b')
    plt.title(f"ECG Signal {i+1}")
    plt.xlabel("Time")
    plt.ylabel("Amplitude")

plt.tight_layout()  # Adjust spacing
plt.savefig("../results/plots/sample_ecg_signals_1_to_6.png")
plt.close()

# Base paper Implementation

### Normalizing the data

In [33]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(train_df.iloc[:, :-1])  # Exclude label column
x_test = scaler.transform(test_df.iloc[:, :-1])
y_train = train_df.iloc[:, -1]  # Assuming last column is the label
y_test = test_df.iloc[:, -1]

In [34]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.utils import to_categorical

In [35]:
# Reshape input to be 3D for LSTM: (samples, timesteps, features)
x_train = np.expand_dims(x_train, axis=1)  # Shape: (samples, 1, features)
x_test = np.expand_dims(x_test, axis=1)

# Convert labels to categorical (if it's a multi-class problem)
num_classes = len(np.unique(y_train))  # Find the number of unique classes
y_train = to_categorical(y_train, num_classes)
y_test = to_categorical(y_test, num_classes)

In [55]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, LSTM, Dense, Dropout, Bidirectional
from tensorflow.keras.optimizers import Adam

def create_model(input_shape, num_classes):
    model = Sequential()
    model.add(Input(shape=input_shape))  # Explicit Input layer
    model.add(Bidirectional(LSTM(64, return_sequences=True)))
    model.add(Dropout(0.2))
    model.add(Bidirectional(LSTM(32)))
    model.add(Dropout(0.2))
    model.add(Dense(64, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(num_classes, activation='softmax'))
    
    return model

In [56]:
# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [57]:
# Train the model
model.fit(x_train, y_train, epochs=20, batch_size=32, validation_data=(x_test, y_test))

Epoch 1/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.9077 - loss: 0.3693 - val_accuracy: 0.9602 - val_loss: 0.1442
Epoch 2/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9602 - loss: 0.1425 - val_accuracy: 0.9661 - val_loss: 0.1198
Epoch 3/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9652 - loss: 0.1211 - val_accuracy: 0.9703 - val_loss: 0.1089
Epoch 4/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9694 - loss: 0.1067 - val_accuracy: 0.9720 - val_loss: 0.1012
Epoch 5/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9714 - loss: 0.1016 - val_accuracy: 0.9748 - val_loss: 0.0938
Epoch 6/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9738 - loss: 0.0930 - val_accuracy: 0.9743 - val_loss: 0.0906
Epoch 7/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9744 - loss: 0.0875 - val_accuracy: 0.9748 - val_loss: 0.0917
Epoch 8/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9747 - loss: 0.0871 - val_accuracy: 0.9767 - val_loss: 0.0838
Epoch 9/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9759 - loss: 0.0808 - val_accuracy: 0.9773 - val_loss: 0.0837
Epoch 10/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9766 - loss: 0.0802 - val_accuracy: 0.9772 - val_loss: 0.0845
Epoch 11/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9775 - loss: 0.0763 - val_accuracy: 0.9766 - val_loss: 0.0871
Epoch 12/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9787 - loss: 0.0734 - val_accuracy: 0.9772 - val_loss: 0.0815
Epoch 13/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9797 - loss: 0.0697 - val_accuracy: 0.9781 - val_loss: 0.0800
Epoch 14/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9795 - loss: 0.0704 - val_accuracy: 0.9789 - val_loss: 0.0803
Epoch 15/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9802 - loss: 0.0670 - val_accuracy: 0.9783 - val_loss: 0.0835
Epoch 16/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9803 - loss: 0.0687 - val_accuracy: 0.9775 - val_loss: 0.0804
Epoch 17/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9809 - loss: 0.0637 - val_accuracy: 0.9778 - val_loss: 0.0838
Epoch 18/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9807 - loss: 0.0637 - val_accuracy: 0.9787 - val_loss: 0.0795
Epoch 19/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9817 - loss: 0.0621 - val_accuracy: 0.9792 - val_loss: 0.0764
Epoch 20/20
2737/2737 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.9817 - loss: 0.0602 - val_accuracy: 0.9775 - val_loss: 0.0812

In [58]:
# Evaluate the model
os.makedirs("../results/metrics", exist_ok=True)
test_loss, test_acc = model.evaluate(x_test, y_test)
# Save the accuracy
with open("../results/metrics/accuracy.txt", "w") as f:
    f.write(f"Test Accuracy: {test_acc * 100:.2f}%")

685/685 ━━━━━━━━━━━━━━━━━━━━ 1s 893us/step - accuracy: 0.9921 - loss: 0.0277

In [59]:
from sklearn.metrics import confusion_matrix, classification_report
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [60]:
# Get predictions
y_pred = model.predict(x_test)  # Get probability outputs
y_pred_classes = np.argmax(y_pred, axis=1)  # Convert to class labels
y_true = np.argmax(y_test, axis=1)  # Convert one-hot back to labels

685/685 ━━━━━━━━━━━━━━━━━━━━ 1s 828us/step

In [63]:
# Generate Confusion Matrix
os.makedirs("../results/metrics", exist_ok=True)
cm = confusion_matrix(y_true, y_pred_classes)
cr = classification_report(y_true, y_pred_classes, digits=4)

In [64]:
# Print Classification Report
with open("../results/metrics/classification_report.txt", "w") as f:
    f.write("Classification Report:\n")
    f.write(cr)
print("Classification Report:\n", cr)

Classification Report:
               precision    recall  f1-score   support

           0     0.9820    0.9945    0.9882     18118
           1     0.9152    0.6403    0.7534       556
           2     0.9660    0.9220    0.9435      1448
           3     0.6722    0.7469    0.7076       162
           4     0.9849    0.9757    0.9803      1608

    accuracy                         0.9775     21892
   macro avg     0.9041    0.8559    0.8746     21892
weighted avg     0.9772    0.9775    0.9766     21892

In [66]:
# Plot Confusion Matrix
os.makedirs("../results/plots", exist_ok=True)
plt.figure(figsize=(6, 5))
sns.heatmap(cm, annot=True, fmt="d", cmap="Blues", xticklabels=np.unique(y_true), yticklabels=np.unique(y_true))
plt.xlabel("Predicted Label")
plt.ylabel("True Label")
plt.title("Confusion Matrix")
plt.savefig("../results/plots/confusion_matrix.png")
plt.close()

In [67]:
# Get model predictions
y_pred = model.predict(x_test)  # Predicted probabilities
y_pred_classes = np.argmax(y_pred, axis=1)  # Convert to class labels
y_true = np.argmax(y_test, axis=1)  # Convert one-hot back to class labels

685/685 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step

In [69]:
# Convert results into a DataFrame
results_df = pd.DataFrame({"Actual": y_true, "Predicted": y_pred_classes})

# Display first few results
print(results_df.head(10))  # Check first 10 samples

   Actual  Predicted
0       0          0
1       0          0
2       0          0
3       0          0
4       0          0
5       0          0
6       0          0
7       0          0
8       0          0
9       0          0

In [70]:
# Find misclassified examples
misclassified = results_df[results_df["Actual"] != results_df["Predicted"]]

# Print misclassified samples
print("\nMisclassified Samples:")
print(misclassified)

Misclassified Samples:
       Actual  Predicted
86          0          3
287         0          2
392         0          4
620         0          4
704         0          2
...       ...        ...
21618       4          0
21627       4          0
21707       4          0
21832       4          0
21835       4          0

[493 rows x 2 columns]

In [71]:
results_df.shape

(21892, 2)